@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-white;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansation", sans-serif;
}

@layer components {
  .gradient-text {
    background: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--radius);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-primary-light {
    background-color: var(--color-primary-light);
  }

  .bg-primary\/10 {
    background-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
  }

  .bg-primary\/80 {
    background-color: color-mix(in srgb, var(--color-primary) 80%, transparent);
  }

  .hover\:bg-primary\/10:hover {
    background-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
  }

  .hover\:bg-primary\/80:hover {
    background-color: color-mix(in srgb, var(--color-primary) 80%, transparent);
  }

  .hover\:text-primary:hover {
    color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .ring-primary {
    --tw-ring-color: var(--color-primary);
  }

  .border-primary {
    border-color: var(--color-primary);
  }
}
